:host {
  display: inline-block;
}

:host > div {
  display: flex;
  border-width: 8px;
  border-style: solid;
  border-radius: 16px;
  padding: 16px;
  align-items: center;
}

.component-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    font-size: 18px;
  }

  .change-detection-mode-label {
    font-size: 12px;
  }

  button {
    margin-top: 8px;
  }
}

.children {
  margin-left: 16px;
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 8px;
  }
}
