<button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
  <mat-icon>menu</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <button *ngFor="let menuItem of menuItems" mat-menu-item routerLinkActive="menu-item-active" [routerLink]="menuItem.route">
    {{ menuItem.label }}
  </button>
</mat-menu>
